<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form #encryptionForm="ngForm" (ngSubmit)="encryptPassword(encryptionForm)">
    Password to encrypt:
    <input name="password" id="password" type="text" ngModel><br>
    Choose environment
    <select id="env" name="env" ngModel>
        <option value="dev">DEV</option>
        <option value="uat">UAT</option>
        <option value="prod">PROD</option>
        <option value="perf">PERF</option>
  </select>
  <br>
  <button type="submit">Encypt</button>
  </form>
  Encrypted password: {{ encrypted }}
</div>
